* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1c1c;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

#main-header {
    background-color: #f04242;
    color: #1c1c1c;
    padding: 10px 10px;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 46px;
}

.logo-title {
    margin: 0;
    font-size: 48px;
}

.search-bar {
    display: flex;
}

#search-input {
    background-color: #1c1c1c;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px 0px 0px 4px;
}

.search-button {
    background-color: #2d2d2d;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

#main-content {
    text-align: center;
}

.pokemon-card {
    width: 230px;
    height: 315px;
    margin: 13px;
    border-radius: 20px;
    background: #2d2d2d;
    box-shadow: 0px 0px 10px #000000;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;/*centraliza verticalmente*/
}

.pokemon-name {
    color: #a9a9a9;
    margin: 10px;
    text-align: center;
}

.pokemon-image {
    width: 94%;
    align-self: center;
}

.pokemon-number {
    color: #2d2d2d;
    font-size: 16px;
    background-color: #a9a9a9;
    border-radius: 5px;
    padding: 2px 6px;
    font-weight: bold;
    margin: 5px;
    width:fit-content;
    align-self: center;
}

#footer {
    background-color: #f04242;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 20px;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social-link {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 3px;
}

.social-link-image {
    width: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    #main-header, #footer {
        background-color: #0000A0;
    }
}

@media (max-width: 425px) {
    #main-header, #footer {
        background-color: #0000A0;
    }
}